# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\nestjs\udemy-nestjs-zero-to-hero\task-management-frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
